USE   [SAbilleasterlyLaw]
GO

---(0)---
IF EXISTS (select * from sys.objects where name='CaseTypeMixture')
BEGIN
    DROP TABLE [dbo].[CaseTypeMixture]
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseTypeMixture](
	[matcode] [nvarchar](255) NULL,
	[header] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[SmartAdvocate Case Type] [nvarchar](255) NULL,
	[SmartAdvocate Case Sub Type] [nvarchar](255) NULL
) ON [PRIMARY]


INSERT INTO [dbo].[CaseTypeMixture](
	[matcode],
	[header],
	[description],
	[SmartAdvocate Case Type],
	[SmartAdvocate Case Sub Type]
)
SELECT 
	[matcode],
	[header],
	[description],
	case when [description] is null then [matcode] else [description] end,
	'Unknown'
FROM  [NeosBillEasterly].[dbo].[matter] M

----- select * from [dbo].[CaseTypeMixture]